<form [formGroup]="myForm" novalidate>
  <div class="form-group">
    <label>Имя книги</label>
    <input class="form-control" name="name" formControlName="bookName" />
  </div>
  <div class="form-group">
    <label>Жанр</label>
    <input class="form-control" name="genre" formControlName="bookGenre" />
  </div>
  <div formArrayName="authors">
    <div class="form-group" *ngFor="let author of getFormsControls()['controls']; let i = index">
      <label>Автор</label>
      <input class="form-control" formControlName="{{i}}"/>
    </div>
  </div>

</form>
